<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: rgb(245, 80, 80);
    }
</style>
<body>
    <h1>Email already exists..Please use another email</h1>
</body>
</html>